@font-face {
  font-family: titillium;
  src: url("../assets/fonts/TitilliumWeb-ExtraLight.ttf");
}

@font-face {
  font-family: poppins;
  src: url("../assets/fonts/Poppins-Light.ttf");
}

body {
  margin: 0;
  font-family: poppins, sans-serif;
  font-size: 0.975rem;
  color: #535353;
  background: #fff;
  font-style: normal;
  background: #EAEAEA
}


/* Menu */

.nav {
  padding: 15px 0px 15px 0px;
  font-variant: small-caps;
  background: url(../assets/images/fondomenu.jpg) repeat-x;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav__menu {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  display: block;
  padding: 4px 30px 5px 30px;
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  text-decoration: underline;
  color: #dd5533;
}


/* Footer */

.footer {
  text-align: center;
  padding: 25px 0 35px;
  /* background-color: white; */
}

.footer__article {
  width: 200px;
  display: inline-block;
  margin-right: 20px;
}

.footer li,
.footer ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0 0 0 3px;
}

.footer__title {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-variant: small-caps;
  color: #dd5533;
}

.footer__link {

  text-align: left;
  display: block;
  text-align: left;
  color: inherit;
  text-decoration: none;
  font-size: 0.75rem;
  font-style: italic;
}

.footer__link:hover{
  color: #dd5533;
  text-decoration: underline;
}